#### **Ejercicio 1: Creación y manipulación de Series**
1. Crea una Serie que contenga las ventas de una tienda de lunes a viernes. Utiliza las siguientes cantidades:
   - Lunes: 100
   - Martes: 150
   - Miércoles: 200
   - Jueves: 50
   - Viernes: 300
   
2. Realiza las siguientes operaciones sobre la Serie:
   - Accede al valor de las ventas del miércoles.
   - Calcula el total de ventas de la semana.
   - Filtra los días donde las ventas fueron mayores a 100.

In [1]:
import pandas as pd

In [5]:
tienda1=pd.Series([100,150,200,50,300], index=['Lunes', 'Martes', 'Miercoles', 'Jueves', 'Viernes'])
print(tienda1)

Lunes        100
Martes       150
Miercoles    200
Jueves        50
Viernes      300
dtype: int64

In [6]:
print(tienda1['Miercoles'])

200

In [7]:
print(tienda1.sum())

800

In [8]:
print(tienda1[tienda1>100])

Martes       150
Miercoles    200
Viernes      300
dtype: int64

#### **Ejercicio 2: Creación y análisis de un DataFrame**
1. Crea un DataFrame que contenga los nombres y edades de las siguientes personas:
   - Ana, 23 años
   - Luis, 35 años
   - María, 29 años
   
2. Realiza las siguientes operaciones sobre el DataFrame:
   - Accede a la columna de los nombres.
   - Filtra las filas donde la edad sea mayor a 25.
   - Agrega una nueva columna con los salarios de las personas (Ana: 30000, Luis: 45000, María: 35000).

In [9]:
alumnos = {'Nombre': ['Ana', 'Luis', 'María'], 'Edad': [23, 35, 29]}
al = pd.DataFrame(alumnos)
print(al)

  Nombre  Edad
0    Ana    23
1   Luis    35
2  María    29

In [11]:
print(al['Nombre'])

0      Ana
1     Luis
2    María
Name: Nombre, dtype: object

In [12]:
print(al[al['Edad'] > 25])

  Nombre  Edad
1   Luis    35
2  María    29

In [13]:
al['Salario'] = [30000, 45000, 35000]
print(al)

  Nombre  Edad  Salario
0    Ana    23    30000
1   Luis    35    45000
2  María    29    35000

#### **Ejercicio 3: Cálculos con DataFrames**
1. Crea un DataFrame con información de ventas de productos en una tienda:
   - Productos: "Laptop", "Mouse", "Teclado"
   - Ventas: 30, 120, 75
   - Precio por unidad: 1000, 50, 80

2. Calcula:
   - La venta total para cada producto (multiplicando el precio por unidad por las ventas).
   - El total de ingresos para todos los productos.

In [23]:
tienda2 = {'productos': ['Laptop', 'Mouse', 'Teclado'], 
           'Ventas': [30, 120, 75], 'Precio por unidad': [1000, 50, 80]}
ti2 = pd.DataFrame(tienda2)
print(ti2)

  productos  Ventas  Precio por unidad
0    Laptop      30               1000
1     Mouse     120                 50
2   Teclado      75                 80

In [24]:

ti2['Venta total'] = ti2['Ventas']*ti2['Precio por unidad']

print(ti2)

  productos  Ventas  Precio por unidad  Venta total
0    Laptop      30               1000        30000
1     Mouse     120                 50         6000
2   Teclado      75                 80         6000

In [31]:
print(ti2['Venta total'].sum())

42000

#### **Ejercicio 4: Transformación y limpieza de datos en DataFrames**
1. Crea un DataFrame con información de estudiantes y sus calificaciones en tres materias:
   - Estudiantes: "Ana", "Luis", "María", "Carlos"
   - Matemáticas: 90, 85, None, 78
   - Ciencia: 88, 92, 85, None
   - Historia: 75, None, 80, 90

2. Realiza las siguientes operaciones:
   - Rellena los valores faltantes con la media de cada columna.
   - Renombra las columnas de las materias en inglés (Math, Science, History).
   - Calcula la calificación promedio de cada estudiante.

In [54]:
clase = {'Estudiantes': ['Ana', 'LUis', 'Maria', 'Carlos'], 
         'Matematicas': [90, 85, None, 78], 
         'Ciencia': [88, 92, 85, None],
         'Historia': [75, None, 80, 90]}
cl= pd.DataFrame(clase)
print(cl)

  Estudiantes  Matematicas  Ciencia  Historia
0         Ana         90.0     88.0      75.0
1        LUis         85.0     92.0       NaN
2       Maria          NaN     85.0      80.0
3      Carlos         78.0      NaN      90.0

In [52]:
import numpy as np

In [55]:
cl['Matematicas'] =cl['Matematicas'].fillna(cl['Matematicas'].mean())
cl['Ciencia'] = cl['Ciencia'].fillna(cl['Ciencia'].mean())
cl['Historia'] = cl['Historia'].fillna(cl['Historia'].mean())
print(cl)

  Estudiantes  Matematicas    Ciencia   Historia
0         Ana    90.000000  88.000000  75.000000
1        LUis    85.000000  92.000000  81.666667
2       Maria    84.333333  85.000000  80.000000
3      Carlos    78.000000  88.333333  90.000000

In [57]:
cl.rename(columns={'Matematicas': 'Math', 'Ciencia': 'Science', 'Historia': 'History'}, inplace=True)
print(cl)

  Estudiantes       Math    Science    History
0         Ana  90.000000  88.000000  75.000000
1        LUis  85.000000  92.000000  81.666667
2       Maria  84.333333  85.000000  80.000000
3      Carlos  78.000000  88.333333  90.000000

In [62]:
cl['Promedio'] = cl[['Math', 'Science', 'History']].mean(axis=1)
print(cl)

  Estudiantes       Math    Science    History   Promedio
0         Ana  90.000000  88.000000  75.000000  84.333333
1        LUis  85.000000  92.000000  81.666667  86.222222
2       Maria  84.333333  85.000000  80.000000  83.111111
3      Carlos  78.000000  88.333333  90.000000  85.444444